<!DOCTYPE html>
<html lang="zh">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Piclife</title>

<!--    <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/css/bootstrap.min.css">deve-->
<!--    <link href="/public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">deve-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"><!--product-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><!--product-->

    <link rel="stylesheet" type="text/css" href="/top/piclife/singlepic/singlepic.css">
    
</head>

<body>
    <% include ../../../public/header/header %> 
    <!-- Page Content -->
    <div class="container">
        <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><%= singlepic[0].title %></h1>
        <h3><%= singlepic[0].content %></h3>
    </div>
</div>
<div class="row">
    <% if( singlepic[0].pathLinkGithubmin() instanceof Array ){ %>
        <% for(var i = 0; i < singlepic[0].pathLinkGithubmin().length; i++){%>
            <div class="col-md-3 portfolio-item text-center">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <img class="img-responsive" src="<%= singlepic[0].pathLinkGithubmin()[i] %>" alt="">
                </a>
            </div>
        <% } %>
    <% } else { %>
        <div class="col-md-3 portfolio-item ">
            <a href="#">
                <img class="img-responsive" src="<%= singlepic[0].pathLinkGithubmin() %>" alt="">
            </a>
        </div>
    <% } %>
    
</div>
        <hr>

<!--         <div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
/.row -->
        <% include ../../../public/footer/footer %> 
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-dialog text-center" data-dismiss="modal"> 
            <img src="" data-dismiss="modal" class="img-responsive img-rounded" alt="Responsive image" style="display: inline-block;">
        </div>
    </div>

    <style type="text/css">
    .navbar-custom{
        background-color: black;
    }
    </style>
</body>
    <% include ../../../public/seajs %> 
</html>
