.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.direc-col {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.main-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.main-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.main-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.main-around {
  justify-content: space-around;
}
.secon-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.secon-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.secon-between {
  -webkit-align-items: space-between;
  align-items: space-between;
}
.secon-around {
  -webkit-align-items: space-around;
  align-items: space-around;
}
.full {
  width: 100%;
  height: 100%;
}
body {
  background-color: #0199cb;
}
.container #row-2 a {
  display: block;
  width: 400px;
  height: 350px;
}
.container #row-2 a img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
}
.container #row-1 {
  font-size: 20px;
  color: white;
}
.container #row-1:after {
  content: "点击查看大图";
  color: black;
  margin-top: 25px;
  font-size: 15px;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 0px;
  text-align: center;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
  cursor: pointer;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
