.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.direc-col {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.main-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.main-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.main-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.main-around {
  justify-content: space-around;
}
.secon-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.secon-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.secon-between {
  -webkit-align-items: space-between;
  align-items: space-between;
}
.secon-around {
  -webkit-align-items: space-around;
  align-items: space-around;
}
.full {
  width: 100%;
  height: 100%;
}
body {
  background-color: #0199cb;
}
.container {
  color: white;
}
.container .title {
  font-size: 50px;
}
.container .author,
.container .createtime {
  font-size: 20px;
  margin-left: 30px;
}
.container .content {
  margin-top: 30px;
  margin-bottom: 70px;
  font-size: 25px;
  background-color: #0199cb;
  border: none;
}
