<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/css/bootstrap.min.css"><!--deve-->
    <link href="/public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"><!--deve-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">product-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">product-->

    <link href="/top/blog/clean-blog.css" rel="stylesheet">
</head>

<body>
    <%include ../../../public/header/header %>
    <header class="intro-header" style="background-image: url('https://raw.githubusercontent.com/xxiiaass/MYCDN/master/public/images/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><%= blog[0].title %></h1>
                        <span class="meta">write by <%= blog[0].author %></span> <span class=createtime>on <%= blog[0].createtime.toLocaleString() %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <% if(blog) {%>
                        <div class="content"> <%-"     "+blog[0].linktoGithubContent()  %></div>
                    <% } else {%>
                        <p>也许是你点击的时候姿势不对，没有找到文章</p>
                        <p>建议返回上个页面，换个姿势，再来一次</p>
                    <% } %>           
                </div>
            </div>
        </div>
    </article>
    <hr>
    <!-- Footer -->
    <%include ../../../public/footer/footer %>
</body>
    <%include ../../../public/seajs %>
</html>
