<hr>
<link rel="stylesheet" type="text/css" href="/public/footer/footer.css">
<footer>
    <div class="container text-center">
        <ul class="list-inline banner-social-buttons">
            <li>
                <a href="http://weibo.com/danjina" class="btn btn-default btn-lg"><i class="fa fa-weibo"></i> <span class="network-name"> 微博 </span></a>
            </li>
            <li>
                <a href="https://github.com/KevinXiasx/xamazing" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
        </ul>
        <p>Copyright &copy; KevinXia</p>
    </div>
</footer>