.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.direc-col {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.main-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.main-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.main-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.main-around {
  justify-content: space-around;
}
.secon-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.secon-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.secon-between {
  -webkit-align-items: space-between;
  align-items: space-between;
}
.secon-around {
  -webkit-align-items: space-around;
  align-items: space-around;
}
.full {
  width: 100%;
  height: 100%;
}
body {
  background-color: #0199cb;
}
.container a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 30px;
}
.container a .blogtitle {
  font-size: 30px;
}
.container a .author,
.container a .createtime {
  font-size: 15px;
  margin-left: 30px;
  color: #ccc;
}
.container a .blogcontent {
  font-size: 20px;
  background-color: #0199cb;
  border: none;
}
